@{
    ViewBag.Title = "Thank You!";
}

<img src='~/images/icons/email-icon.png' />
<h2>Enqury Email Sent, Thanks!</h2>
<br />
<p>Thanks for contacting SiteDisks.</p>
<p>Our specialist will get back to you shortly. </p>
<p>Alternatively call us directly on: 0401 224 901.</p>
