@{
    ViewBag.Title = "SiteDisks Home";
}

@section featured {
    <section class="featured">
        <!-- slideshow -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/images/banner/sitedisks-amaze-1920.jpg" alt="sitedisks amaze" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/banner/sitedisks-topwall-1920.jpg" alt="sitedisks topwall" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/banner/sitedisks-architecture-1920.jpg" alt="sitedisks architecture" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/banner/sitedisks-lecture-1920.jpg" alt="sitedisks lecture" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/banner/sitedisks-volume-1920.jpg" alt="sitedisks volume" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/banner/sitedisks-snowmount-1920.jpg" alt="sitedisks snowmountain" class="img-responsive" />
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </section>
}

<div class="container marketing">

    <div class="jumbotron">
        <p>
            <img src="~/images/Sitedisks_logo_II_375.png" class="img-responsive" />World Wide Local Solution</p>
        <p>SiteDisks is a Melbourne based web solution provider. Professional in website design, web application, online marketing, SEO and open-source CMS.</p>
        <p>SiteDisks, your local Web & SEO specialist.</p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/icons/sitedisks-fast-green-t.png" alt="sitedisks logo" />
            <h2>Fast</h2>
            <p>We build website fast at low-cost.<br />
                Professional websites that meet your business goals.</p>
            <!--<p><a class="btn btn-default" id="btnFast" href="#" role="button">View details</a></p>-->
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/icons/sitedisks-unique-green-t.png" alt="sitedisks logo" />
            <h2>Unique</h2>
            <p>We create unique, template free website.<br />
                We believe every people different and so do the web.</p>
            <!--<p><a class="btn btn-default" id="btnUnique" href="#" role="button">View details</a></p>-->
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/icons/sitedisks-reliable-green-t.png" alt="sitedisks logo" />
            <h2>Reliable</h2>
            <p>Your product was fully covered.<br />
                We are reliable and quick responsive. </p>
            <!--<p><a class="btn btn-default" id="btnReliable" href="#" role="button">View details</a></p>-->
        </div>

    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">SiteDisks - <span class="text-muted">World Wide Local Solution</span></h2>
            <p class="lead">SiteDisks provides one-stop web solution in Melbourne. Our professional services cover a diverse range of technical, from basic website design, page layout to complex database driven web application, shopping cart, SEO, and online marketing. We love the web and enjoy living in the technical world.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-melbourne-beach.jpg" alt="SiteDisks Melbourne">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-team.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Our Team - <span class="text-muted">Dynamic & Active</span></h2>
            <p class="lead">We are a small group of people passion on the web technical and innovation. We have dynamic team experts and provide with highest level of customer service and commitment to achieving excellence.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">Why Us - <span class="text-muted">Result Oriented</span></h2>
            <p class="lead">Websites are far more than a name card nowadays. It is a platform to spread you business. A beautiful web design and user-friendly interface are essential, but more important is how to spread products and services across the World Wide Web. SiteDisks not only provides professional website solutions, but also help you spreading your website and products to reach of the top of search list. </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-tram.jpg" alt="Generic placeholder image">
        </div>
    </div>

</div>
