@using SiteDisksNET.Models
@model IList<Portfolio>

@{
    ViewBag.Title = "Portfolio";
}

@Html.Partial("~/Views/Shared/_GreenbannerPartial.cshtml");

<div class="container theme-showcase">

    @SiteHelper.PortfolioCase(Model);

</div>
