@{
    ViewBag.Title = "Portfolio";
}

@Html.Partial("~/Views/Shared/_GreenbannerPartial.cshtml");

<div class="container theme-showcase">

    <!--<div class="jumbotron">
               	<h2>We Understand</h2>
                <p>We understand when you hired us, you expected that we would design and develop a great website. We also understand you expected it would be done according to the timeline a budget set during the planning stages of the project. We are not just did our job but also 'Delivering Exceptional Service'.</p>
                <p>It is about surprising, and often delighting, customers, turning them into enthusiastic referral sources and lifelong clients who stick with us not only because we do great work at a fair price, but because the value we bring to you goes far beyond just our products. </p>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Get Start!</a></p>
            </div>
        	<hr class="featurette-divider">-->

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">MarcoMelbourne<span class="text-muted"> living and experience</span></h2>
            <p class="lead">A crystal vision in the heart of Melbourne, Marco commands a prominent presence on the Melbourne skyline. Enjoy astonishing unobstructed views in almost every direction - to the CBD, the Gardens and Arts Precinct, and to Port Phillip Bay.</p>
            <!-- <p><a class="btn btn-default" id="btnFast" href="http://www.nightsecret.com.au" target="_blank" role="button">Go to the site</a></p>-->
        </div>
        <div class="col-md-5 siteimage">
            <a target="_blank" href="http://marcomelbourne.com.au">
                <img class="featurette-image img-responsive" src="~/images/portfolio/sitedisks-MarcoMelbourne.png" alt="SiteDisks MarcoMelbourne" border="0">
            </a>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/portfolio/sitedisks-nightsecret.jpg" alt="SiteDisks NighSecret">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">NightSecret<span class="text-muted"> the love market</span></h2>
            <p class="lead">NightSecret is the first interactive social online store in the Australia. It is an interactive platform integrated shopping, social network, messaging, marketplace, and many more potential. An cool interesting, sexy, modern, open platform for modern adult world.</p>
            <!-- <p><a class="btn btn-default" id="btnFast" href="http://www.nightsecret.com.au" target="_blank" role="button">Go to the site</a></p>-->
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">Asian Pacific<span class="text-muted"> International Investment</span></h2>
            <p class="lead">APII hold the necessary mortgage broking experience and qualifications in accordance with the National Consumer Credit Protection Act, 2009.</p>
            <!--<p><a class="btn btn-default" id="btnFast" href="http://apiiaustralia.com/" target="_blank" role="button">Go to the site</a></p>-->
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/portfolio/sitedisks-apii.jpg" alt="SiteDisks APII">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/portfolio/sitedisks-cooeewine.jpg" alt="SiteDisks cooeewine">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Cooeewine<span class="text-muted"> winery and good food</span></h2>
            <p class="lead">
                Cooee has carefully selected the best grapes from the famous
winemaking regions in Australia, and combined them with the unique
technique and expertise of the finest winemakers to produce a selection
of quality Australian wines to share with the world.
            </p>
            <!--<p><a class="btn btn-default" id="btnFast" href="http://cooeewine.com.au/" target="_blank" role="button">Go to the site</a></p>-->
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">JMC<span class="text-muted"> Dance Lab</span></h2>
            <p class="lead">Dancing makes people happy, even it makes your body black and blue sometimes. It can unleash the dancers' passion and motivate them to embrace the life better. We believe that JMC Dance Lab is just such a dancing family which connects all the dancers, instructors and our volunteers together.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/portfolio/sitedisks-JMCDance.jpg" alt="SiteDisks JMC Dance Lab">
        </div>
    </div>
</div>
