@using SiteDisksNET.Models
@model PageInfo

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.Message = Model.Message;
}

@Html.Partial("~/Views/Shared/_GreenbannerPartial.cshtml");

<div class="container theme-showcase">

    <div class="jumbotron">
        <h2>We Understand!</h2>
        <p>We understand when you hired us, you expected that we would design and develop a great website. We also understand you expected it would be done according to the timeline a budget set during the planning stages of the project. We are not just did our job but also 'Delivering Exceptional Service'.</p>
        <p>It is about surprising, and often delighting, customers, turning them into enthusiastic referral sources and lifelong clients who stick with us not only because we do great work at a fair price, but because the value we bring to you goes far beyond just our products. </p>
        <p><a class="btn btn-lg btn-success" id="btnStart" href="#" role="button">Get Start!</a></p>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">Website design<span class="text-muted"> Creative, innovations</span></h2>
            <p class="lead">We specialize in small business website design and everything that goes with it. Our designers and strategists are experts in understanding why website visitors behave as they do. They apply this expertise in making sure that website visitors behave in a way that makes our clients' web design a success.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-sideway.jpg" alt="SiteDisks website design">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-mobile.jpg" alt="SiteDisks Mobile">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Mobile Apps<span class="text-muted"> When you on the move</span></h2>
            <p class="lead">We develop Apps for iPhone and Android. These are the most common platforms and it's where you should focus in order to capture the largest share of app users. Right now is the time to act on your idea.</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">eCommerce solution<span class="text-muted"> We love shopping</span></h2>
            <p class="lead">Complete shopping cart system with unlimited products, secure instant payment receipts and easy to use administrator back-end console. We boast an amazing team of designers, online marketers, copywriters, web developers and online strategists who are all experts in building and marketing great e-commerce web designs. </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-shoppingmall.jpg" alt="SiteDisks eCommerce">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-redhat.jpg" alt="SiteDisks Web application">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Web application<span class="text-muted"> Dynamic web experience</span></h2>
            <p class="lead">Modern web applications allow personalized dynamic content to be pulled down by users according to individual preferences and settings. Purpose built application to address your unique requirement, dynamically and actively. </p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">Content Management<span class="text-muted"> Under your control</span></h2>
            <p class="lead">Content Management System, which means you don't have to be an IT professional or programming skills. Easily manage your website content by fingertips. The CMS we will use for your web project will be carefully designed to ensure it is simple to operate for regular and even complex tasks.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-cat.jpg" alt="SiteDisks CMS">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-people.jpg" alt="SiteDisks SEO">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">SEO<span class="text-muted"> Expore your business to public</span></h2>
            <p class="lead">Imagine what would happen if your website appears at the top of your customers' search! As soon as you hire our Web Marketing Experts, we go to work for you. We bring all of the talent and skills of a top SEO company into play. </p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">Artworks Prototype<span class="text-muted"> release your imagination</span></h2>
            <p class="lead">Logo design best has the best professional designers and developers who come up with unique and practical designs. Our marketing support team carries out the necessary research related to the objectives and set the development parameters. Our developers then develop the website using industry standards and appropriate tools for a particular project.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/sitedisks-winter.jpg" alt="SiteDisks prototype">
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('#btnStart').click(function () {
                $('#popupStart').modal('show');
                return false;
            });
        });
    </script>
}

<div class="modal fade" id="popupStart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <div class="modal-body">

                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="http://sitedisks.us3.list-manage.com/subscribe/post?u=15709e58e49ef547d37e84bf3&amp;id=3736fa37d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal text-center" target="_blank" novalidate>


                        <div class="mc-field-group">

                            <label class="alert alert-success" for="mce-EMAIL">Enter email address to get your free business quota</label>
                            <input type="email" placeholder="Enter email" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                        </div>

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display: none"></div>
                            <div class="response" id="mce-success-response" style="display: none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_15709e58e49ef547d37e84bf3_3736fa37d5" tabindex="-1" value="">
                        </div>
                        <div class="clear"></div>
                        <br />
                        <input type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-success">
                    </form>
                </div>
                <!--End mc_embed_signup-->

            </div>
        </div>
    </div>
</div>

